
{% assign previous = null %}
{% assign next = null %}
{% assign last = null %}

{% for n in site.data.manual_nav %}
  {% if n.title == page.title %}
    {% assign previous = last %}
  {% endif %}

  {% if last.title == page.title %}
    {% assign next = n %}
  {% endif %}

  {% assign last = n %}
{% endfor %}

{% if previous != null %}
  <button class="w3-button w3-light-gray"><a href="{{previous.url}}">&#8610;&nbsp;{{ previous.title }}</a></button>
{% endif %}
{% if next != null %}
  <button class="w3-button w3-right w3-light-gray"><a href="{{next.url}}">{{ next.title }}&nbsp;&#8611;</a></button>
{% endif %}
