 <div class="w3-bar w3-light-gray">
  {% for n in site.data.manual_nav %}
    {% if n.title == page.title %}
      <a href="{{n.url}}" class="w3-bar-item w3-button w3-mobile w3-pale-green">{{n.title}}</a>
    {% else %}
      <a href="{{n.url}}" class="w3-bar-item w3-button w3-mobile">{{n.title}}</a>
    {% endif %}
  {% endfor %}
</div>


