  <div class="w3-bar w3-white w3-border-bottom">
    {% for item in site.data.main_nav %}

      {% if item.title == page.navtitle %}
        {% assign button_class = "w3-bar-item w3-button w3-pale-green w3-mobile" %}
      {% else %}
        {% assign button_class = "w3-bar-item w3-button w3-mobile" %}
      {% endif %}

      {% if item.title == "Issues" or item.title == "Code" %}
        {% assign link_target = "_blank" %}
      {% endif %}

      <a href="{{ page.parent }}{{ item.url }}" class="{{ button_class }}" target="{{ link_target }}">
        <img src="{{ site.baseurl }}{{ item.icon }}" class="w3-image" style="max-height:32px" /> {{ item.title | escape }}
      </a>

    {% endfor %}
  </div>

<!-- Note about Git_icon.svg: Git Logo by Jason Long is licensed under the Creative Commons Attribution 3.0 Unported License. -->
