<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ page.title | escape }} | pyspread</title>
  {% if page.meta_description %}<meta name="description" content="{{ page.meta_description }}">{%endif%}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="apple-touch-icon" href="{{page.parent}}images/pyspread.png"/>
  <link rel="shortcut icon" href="{{page.parent}}images/pyspread.png"/>

  <link rel="stylesheet" href="{{page.parent}}static/css/w3.css">  
  
  <link rel="stylesheet" href="{{page.parent}}static/css/code_highlight.css"/>
  <link rel="stylesheet" href="{{page.parent}}static/css/pyspread.2019.css"/>

</head>
<body>

  {% include navbar.html %}
  
  <div class="w3-padding-16 main">

    {% if page.section == "manual" %}
        {% include manual-navbar.html %}
        {% include manual-buttonbar.html %}
    {% endif %}


    <div class="w3-container">
        {{content}}
    </div>
  
    {% if page.section == "manual" %}
        {% include manual-buttonbar.html %}
    {% endif %}  

    </div>
    
  <div class="w3-container w3-padding-16">
    &copy; Martin Manns and the pyspread team
  </div>

</body>
</html>
